<div *ngIf="!submitted && showMessages.success, else elseLogin">
  <p>Loading...</p>
</div>

<ng-template #elseLogin>
<h1 id="title" class="title">Đăng nhập</h1>
<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form aria-labelledby="title" [formGroup]="loginInFrom" (submit)="onSignIn()">
  <div class="form-control-group">
    <label class="label" for="input-email">Tài khoản:</label>
    <!-- <input nbInput
           fullWidth
           name="account"
           id="input-email"
           pattern=".+@.+\..+"
           placeholder="Tài khoản ..."
           fieldSize="large"
           autofocus
           formControlName="account"> -->
    <input nbInput
           fullWidth
           name="account"
           id="input-email"
           placeholder="Tài khoản ..."
           fieldSize="large"
           autofocus
           formControlName="account">
    <!-- <ng-container *ngIf="!submitted && f.account.errors">
      <p class="caption status-danger" *ngIf="f.account.errors.required">
        Tài khoản không được để trống!
      </p>
    </ng-container> -->
  </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Mật khẩu:</label>
      <a class="forgot-password caption-2" routerLink="../request-password">Quên mật khẩu?</a>
    </span>
    <input nbInput
           fullWidth
           name="password"
           type="password"
           id="input-password"
           placeholder="Mật khẩu ..."
           fieldSize="large"
           formControlName="password">
    <!-- <ng-container *ngIf="!submitted && f.password.errors ">
      <p class="caption status-danger" *ngIf="f.password.errors.required">
        Mật khẩu không được để trống!
      </p>
      <p class="caption status-danger" *ngIf="f.password.errors.minlength">
        Mật khẩu phải nhập đủ 6 ký tự!
      </p>
    </ng-container> -->
   
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox name="rememberMe">Ghi nhớ mật mẩu</nb-checkbox>
  </div>

  <button nbButton
          fullWidth
          status="primary"
          size="large"
          type="submit"
          [disabled]="loginInFrom.invalid"
          [class.btn-pulse]="submitted">
    Đăng nhập
  </button>
</form>
<!-- 
<section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
  or enter with:
  <div class="socials">
    <ng-container *ngFor="let socialLink of socialLinks">
      <a *ngIf="socialLink.link"
         [routerLink]="socialLink.link"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">
        <nb-icon *ngIf="socialLink.icon; else title" [icon]="socialLink.icon"></nb-icon>
        <ng-template #title>{{ socialLink.title }}</ng-template>
      </a>
      <a *ngIf="socialLink.url"
         [attr.href]="socialLink.url"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">
        <nb-icon *ngIf="socialLink.icon; else title" [icon]="socialLink.icon"></nb-icon>
        <ng-template #title>{{ socialLink.title }}</ng-template>
      </a>
    </ng-container>
  </div>
</section> -->

<section class="another-action" aria-label="Register">
  Bạn chưa có tài khoản? <a class="text-link" routerLink="../register">Đăng ký</a>
</section>
</ng-template>
